<div class="well">
<form>
    <div>
     <label>Enter Title:</label>
     <input #title type="text">
    </div>
    <div>
      <label>Enter Author:</label>
      <input #author type="text">
    </div>
    <div>
      <label>Enter Details about topic:</label>
      <input #details type="text" >
    </div>
    <div>
      <label>Enter Image URL:</label>
      <input #image type="text" >
    </div>

    <button class="btn"(click)="submitForm(title.value, author.value, details.value, image.value)">Create Post!</button>
  </form>
</div>
