<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
      <a class="navbar-brand" routerLink="newCollection">New</a>
      <a class="navbar-brand" routerLink="controversialCollection">Controversial</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-new" type="click" routerLink="newPost" >Add new post</button>
      </ul>
    </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <h4>Checkout what has been posted by other users using the links above or add a new post!</h4>
  </div>
  <router-outlet></router-outlet>
  <app-edit-post></app-edit-post>
  <app-new-post (newPostSender)="submitForm($event)"></app-new-post>
</div>
